# dependencies
node_modules/

# environment variables
.env
.env.*
!.env.example

# builds
dist/
build/
.next/
out/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor
.DS_Store
.vscode/
.idea/